#red_paragraph{
    color: red;
    font-size: 40px;
}

p{
    color: blue;
    font-size: 20px;
}
.grey_paragraph{
    color: gray;
}
.container{
    /*width: 800px;
    height: 500px;
    border: 1px solid aquamarine;
    padding: 10px;
    margin: 30px;
    background-color: aliceblue;*/
    display: flex;
}
.item{
    padding: 5px;
}
.container img{
    width: 100%;
    /*height: auto;*/
    height: 100%;


}
body{
    background-color: bisque;
}